@use "../global"as global;

.b-pankuzu {
	list-style-type: none;
	display: inline-block;
	white-space: nowrap;
	// @include global.media(tb) {
	//     right: auto;
	//     left: 5vw;
	//     top: 7rem;
	// }

	// @include global.media(sp) {
	//     top: 6rem;
	//     padding-top: 2px;
	// }

	&.is-invert {
		* {
			color: #ffffff;
		}

		li {
			&+li {

				&::before,
				&::after {
					background-color: rgba(#ffffff, 0.5);
				}
			}
		}
	}

	li {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;

		&+li {
			position: relative;
			margin-left: 10px;
			padding-left: 10px;

			&::before,
			&::after {
				content: "";
				width: 5px;
				background-color: rgba(#888888, 0.5);
				height: 1px;
				position: absolute;
				left: 0;
				top: 50%;
				transform-origin: center right;
			}

			&::before {
				transform: translate(-100%, -50%) rotate(45deg);
			}

			&::after {
				transform: translate(-100%, -50%) rotate(-45deg);
			}
		}
	}

	p,
	div,
	a {
		@include global.font(10px, 400, 0.02em, 1, global.$jp_go);
		color: var(--SubText);
		display: block;
		text-transform: uppercase;
		transition: color 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

		@include global.media(sp) {
			font-size: 10px;
		}

		>span {
			overflow: hidden;
			display: block;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 200px;
			vertical-align: middle;

			@include global.media(sp) {
				max-width: 160px;
			}
		}
	}

	a {
		@include global.media(pc) {
			&:hover {
				opacity: 0.5;
			}
		}
	}
}
